body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3b3842;
  /* background-color: white; */
}

.nav_item,
.link-style {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  padding-left: 20px;
  transition: all 0.3s ease 0s;
  color: #edf0f1;
}

.nav_item,
.link-style:hover {
  color: #0088a9;
}

#image-logo {
  max-width: 25%;
  max-height: 100%;
  border-radius: 20px;
}
#myselfpic {
  border-radius: 55%;
  transition: transform 0.3s ease-in-out;
}

.main-screen-pic {
  margin-top: 10%;
  padding-bottom: 45%;
}

.use-ref {
  padding-top: 30px;
  font-size: 22px;
}

.container {
  width: 100%;
  will-change: contents;
  height: 100%;
  min-height: 577px;
  text-align: center;
  position: relative;
}

.container img {
  display: inline-block;
}

.top {
  height: 100%;
  text-align: center;
  width: 50%;
  /* border-radius: 10px; */
  /* background-color: white; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); */
  display: inline-block;
}

#linkedinpic {
  width: 5%;
  height: 5%;
  border: none;
}

#githubpic {
  width: 5%;
  height: 5%;
  border: none;
}

#linkedinpic:hover {
  transform: scale(1.2);
}

#githubpic:hover {
  transform: scale(1.2);
}

.about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 66px;
  border-radius: 10px;
  /* background-color: white; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#about-me-description {
  font-style: normal;
  color: hsl(210, 69%, 20%);
  font-size: 29px;
  padding-left: 20px;
}

.about-me-content {
  text-align: left;
}
#about-me-p {
  line-height: 2;
  padding-left: 20px;
}

.horizontal-line {
  border: none;
  border-top: 1px solid #000;
  margin-bottom: 80px;
  margin-top: 80px;
}

.contact-form-container {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-field {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input,
textarea {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  align-self: start;
  width: 52%;
  padding: 10px;
  margin-top: 10px;
  background-color: #3b3842;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #4e4b57;
}
.footer-container {
  color: white;
  background-color: #3b3842;
  margin-top: 100px;
  padding-top: 13px;
}
.copy-right {
  background-color: black;
}

/****************************/
.container-interview {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-container {
  width: 100%;
  text-align: center;
}
.btn {
  width: 13%;
}
.index-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.index-card {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 9px;
  width: 300px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  width: 70%;
  margin: 0 auto;
}

.grid-item {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.cal-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.target-input-tag {
  width: 20%;
}

@media only screen and (max-width: 767px) {
  nav {
    nav {
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #3b3842;
      /* background-color: white; */
    }

    .nav_item,
    .link-style {
      text-decoration: none;
      list-style: none;
      display: inline-block;
      padding-left: 20px;
      transition: all 0.3s ease 0s;
      color: #edf0f1;
    }

    .nav_item,
    .link-style:hover {
      color: #0088a9;
    }
  }
  .top {
    height: 100%;
    text-align: center;
    width: 100%;
    /* border-radius: 10px; */
    /* background-color: white; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); */
    display: inline-block;
  }
  .btn {
    width: 50%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 768px) {
}
